@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 30px 0;
    margin-bottom: 0;
    background-color: #d1ecf1;
}

h1,
.h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #042444!important;
    text-decoration: none;
}



#modification_profil label,
#modification_profil input,
#modification_profil select{
    display: block!important;
    width: auto!important;
}

#modification_profil .mb-3{
    margin: 1em 0!important;
}

.row{
    display: flex;
    justify-content: center;
}

.row .col-lg-6{
    width: 50%!important;
}
.row .col-lg-6 div p,
.view_profil .col-lg-3 div p{
    display: inline-block!important;
}

.btn-container{
    text-align: center;
    margin-top: 2em;
}


.btn-action{
    padding: 0.5em 1em!important;
    background-color:#d1ecf1 !important;
    text-decoration: none;
    color: #042444!important;
    margin-top: 10px;
    border-color: #042444!important;
}
.btn-afficher, .btn-modifier{
    background-color:#d1ecf1 !important;
    text-decoration: none;
}
table .btn{
    padding: 0.5em 0.25em !important;
}
table .btn a{
    padding: 0.5em 1em!important;
}
.btn-afficher i, .btn-modifier i{
    color: #042444!important;
}

.btn-afficher:hover,.btn-modifier:hover{
    background-color:#042444 !important;
    text-decoration: none;

}
.btn-afficher:hover i,.btn-modifier:hover i{
    color: #d1ecf1!important;
}
.btn-inscrit{
    background-color:#b0b084 !important;
    text-decoration: none;
}
.btn-inscrit i{
    color: #042444!important;
    max-width: 14px;
}
.btn-inscrit:hover{
    background-color: #042444!important;
    text-decoration: none;
}
.btn-inscrit:hover i{
    color: #b0b084!important;
}
.btn-annuler{
    background-color:#042444 !important;
    text-decoration: none;
}
.btn-annuler i {
    color: #ec1c1c!important;
    max-width: 14px;
}
.btn-annuler:hover{
    background-color:#ec1c1c !important;
    text-decoration: none;
}
.btn-annuler:hover i{
    color: #042444!important;
}

.btn-desister{
    background-color:#b0b084 !important;
    text-decoration: none;

}
.btn-desister i{
    color: #042444!important;
    max-width: 14px;
}
.btn-desister:hover{
    background-color:#042444 !important;
    text-decoration: none;

}
.btn-desister:hover i{
    color: #ec1c1c!important;
}
.btn-publier:hover{
    background-color:#f2e80e !important;
    text-decoration: none;
}
.btn-publier:hover i {
    color: #042444!important;

}
.btn-publier{
    background-color: #042444!important;
    text-decoration: none;
}

.btn-publier i {
    color: #f2e80e!important;
    max-width: 14px;
}
.tab-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.connectinfo{

    text-align: right;
}
h1.titlefiltre{
    text-align: left;
}
.blockfiltre{
    margin-bottom: 30px;
}

.create_sortie .button-container{
    text-align: center;
    margin-top: 2em;
}

.create_sortie .col-lg-6 div{
    margin: 1em 0!important;
}

.create_sortie select{
    display: inline-block!important;
    width: auto!important;
}
.create_sortie select{
    display: inline-block!important;
    width: auto!important;
}
select{
    display: inline-block!important;
    width: auto!important;
}


.create_sortie input{
    min-width: 30%!important;;
    text-align: center;
}

#duree-sortie{
    margin-right: 0.5em;
}

.view_profil a i,
.edit_profil .btn-action i:not(.edit_profil .col-lg-6 .password .btn-action i){
    margin-right: 0.5em;
}


.view_profil .col-lg-3{
    margin: 2.5em 0!important;
}

/** Edit profil **/
.edit_profil .row{
    margin: 2.5em 0!important;
}
.edit_profil .col-lg-6 div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.edit_profil .button-container,
.row.home.button-container{
    display: flex;
    justify-content: center!important;
    margin-top: 2.5em!important;
}

button{
    width: auto!important;
}

button a{
    text-decoration: none;
    color: #042444;
}


.edit_profil .button-container a{
    margin-right: 1em;
}

.edit_profil .btn-action{
    border: 2px solid #042444;
}

.edit_profil .col-lg-6 .password{
    grid-template-columns: 40% 50% 7.5%;
    grid-gap: 1em;
}

.edit_profil .col-lg-6 .password .btn-action{
    margin-top: 0!important;
    padding: 0!important;
}

input{
    padding: 0 0.5em;
}

/** login **/
.login div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.login .option div{
    grid-template-columns: 100%;
}

.login input[type="checkbox"]{
    margin-top: 0!important;
}

.login .button-container{
    display: flex!important;
    justify-content: center;
}

.login .password{
    grid-template-columns: 40% 50% 7.5%;
    grid-gap: 1em;
}

.login .password .btn-action{
    margin-top: 0!important;
    padding: 0!important;
}

.login .btn-outline-danger a{
    text-decoration: none;
    color: black;
}

.login .btn-outline-danger:hover a{
    color: white;
}

.create_sortie .col-lg-6 div{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.create_sortie .col-lg-6 div,
.modification_sortie .col-lg-6 div{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.create_sortie .button-container .btn-action i{
    margin-right: 0.5em;
}

.create_sortie .row{
    margin: 2em 0!important;
}

.row.date .form-group{
    display: grid;
    grid-template-columns: 20% 74%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
    max-width: 50%;
}


.row.date .form-group label{
    padding: 0.5em 0
}

.row.date .form-group:last-child label{
    margin-left: 0.5em;
}

.row.home{
    display: flex;
    justify-content: space-between!important;
    flex-direction: row!important;
    margin-bottom: 2em;
}

.row.home .col-lg-6{
    margin: 0!important;
}

/** header **/
header{
    background-color: #d1ecf1;
}

header .container {
    margin: 0 auto!important;
    display: flex;
    justify-content: space-between;
}
header .container > div {
    display: flex;
    justify-content: center;
    align-self: center!important;
}

/** menu **/
.dropdown button:after{
    display: none;
}

.dropdown button i{
    color: #d1ecf1!important;
}

.dropdown button{
    background-color: #042444!important;
    width: 100%!important;
    height: auto!important;
    padding: 0.5em 1em!important;
}

.dropdown:hover .dropdown-menu{
    display: block;
    border-color: #042444;
    background-color: #d1ecf1;
    padding: 0.5em 0!important;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #042444!important;
    color: #d1ecf1;
}

.dropdown-menu .utilisateur{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #042444;
}
.dropdown-menu{
    left: -7em;
}
.dropdown-menu .sorties{
    padding-top: 0.5em;
}
.description_sortie{
    width: 250px;
    height: 100px;
    text-align: left;
}
.clickable-row{
    cursor:pointer;
}
.choosepicture{
    display: none;
    margin-top: 10px;
    padding: 0.5em 1em!important;
    text-decoration: none;
    color: #042444!important;
}
.picture_profil{
    margin-bottom: 1em;
}

/** table **/
.table-wrapper-scroll-y table tr{
    display: grid;
    grid-template-columns: 20% 15% 11% 12% 8% 8% 12% 14%;
}


.table-wrapper-scroll-y table .btn-afficher,
.table-wrapper-scroll-y table .btn-modifier{
    border: 1px solid #042444;
}

.table-wrapper-scroll-y{
    scrollbar-color: #d1ecf1 #042444;
}

.table-wrapper-scroll-y .table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: #e8f9fc!important;
    --bs-table-active-color: #212529;
    --bs-table-active-bg: #e8f9fc!important;
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: #e8f9fc!important;
    color: #212529;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #042444!important;;
    border-style: solid;
    border-width: 0;
}

table p.inscrit{
    margin: 0;
}

.table-wrapper-scroll-y table td,
.table-wrapper-scroll-y table th{
    display: flex;
    justify-content: center;
    align-items: center!important;
}

.form-group.site-select{
    display: grid;
    grid-template-columns: 5% 92%;
    grid-gap: 1em;
}

.modification_sortie .col-lg-6.last div {
    grid-template-columns: 25% 70%;
}

.annulerS{
    margin: 2em 0!important;
}

.annuler .button-container{
    margin-top: 2em;
}

.annulerS .col-lg-6 div{
    margin: 1em 0!important;
}

.annuler div{
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 1em;
}

.annuler .button-container{
    display: flex!important;
    justify-content: center;
}

.annuler .button-container button,
.annuler .button-container a{
    padding: 0.5em 1em !important;
}

/** register **/
.registration .mb-3{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 1em;
}

.registration {
    margin: 2em 0;
}

.registration .button-container{
    display: grid;
    justify-items: center;
}

.registration .button-container i{
    margin-right: 0.5em!important;
}
.sortie_info{
    margin: 2em 0!important;
}
.login .row{
    display: flex!important;
    flex-direction: column!important;
}

.login .row .col-lg-6{
    display: block!important;
    margin: auto !important;
}

.create_ville .row,
.create_lieu .row{
    display: flex!important;
    flex-direction: column!important;
    margin: 2em 0!important;
}

.create_ville .row .col-lg-6,
.create_lieu .row .col-lg-6{
    display: block!important;
    margin: auto !important;
}

.create_ville .col-lg-6 div,
.create_lieu .col-lg-6 div{
    margin: 0.5em 0 !important;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1em;
}

.button-container{
    display: flex!important;
    justify-content: center!important;
}

.create_lieu .ville{
    grid-template-columns: 20% 52.5% 25%!important;
}

.create_lieu .ville div{
    grid-template-columns: 100%!important;
}

@media only screen and (max-width: 992px) {
    .create_lieu .col-lg-6 div {
        margin: 0.5em 0 !important;
        display: grid;
        grid-template-columns: 30% 75%;
        grid-gap: 1em;
    }

    .create_lieu .ville{
        grid-template-columns: 30% 46% 25%!important;
    }

    .create_lieu .ville div{
        grid-template-columns: 100%!important;
    }

    .create_ville .col-lg-6 div{
        margin: 0.5em 0 !important;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-gap: 1em;
    }
    main .row{
        flex-direction: column;
    }

    main .row div,
    .row.view_profil div{
        margin: auto!important;
    }

    .row.date .form-group{
        max-width: 100%!important;
        grid-template-columns: 20% 80%;
    }

    table .btn {
        padding: 0.5em 0em !important;
    }

    .row .blockfiltre{
        margin: 2em 0!important;
    }
    .modification_sortie .col-lg-6.last div {
        grid-template-columns: 35% 60%;
    }
    a.btn-action{
        border: 1px solid #042444;
    }

    .row .button-container{
        margin: 2.5em 0!important;
    }
    .button-container{
        display: flex;
        justify-content: center;
        flex-direction: row!important;
        margin: 2.5em 0!important;
    }

    .button-container button,
    .button-container .btn-action{
        margin: 0 1em;
    }

    .button-container a{
        margin-top: 0!important;
        width: auto;
    }

    .edit_profil  .col-lg-6{
        margin: 2em auto!important;
    }
    .login .row{
        display: flex!important;
        flex-direction: column!important;
    }

    .login .row .col-lg-6{
        display: block!important;
    }

    .login .col-lg-6 div{
        margin: 0.5em 0 !important
    }

    .login .button-container{
        margin-top: 0!important;
    }

    .login .password{
        grid-template-columns: 40% 48% 8.5%;
    }
    .dropdown-menu.admin{
        left: -10.6em;
    }
}

@media only screen and (max-width: 768px){
    main .row div, .row.view_profil div {
        margin: auto !important;
        max-width: 75%;!important;
    }

    .create_lieu .ville{
        grid-template-columns: 30% 44% 35%!important;
    }

    .col-lg-3.photo{
        text-align: center;
    }

    .row .col-lg-6{
        width: 100% !important;
    }

    .edit_profil .col-lg-6 .password {
        grid-template-columns: 40% 48% 7.5%;
        grid-gap: 1em;
    }
    .view_profil .col-lg-3 div {
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-between
    }

    .login div{
        margin: auto!important;
        max-width: none!important;
    }

    .login .password{
        grid-template-columns: 40% 50% 7.5%;
    }
}

@media only screen and (max-width: 600px){
    .create_lieu .col-lg-6 div {
        grid-template-columns: 25% 71%;
    }

    .create_lieu .ville{
        grid-template-columns: 25% 42% 25%!important;
    }

    .create_lieu .ville div{
        grid-template-columns: 100%!important;
    }
    .table-wrapper-scroll-y table tr th:not(.table-wrapper-scroll-y table tr th:first-child,
.table-wrapper-scroll-y table tr th:last-child),
    .table-wrapper-scroll-y table tr td:not(.table-wrapper-scroll-y table tr td:first-child,
.table-wrapper-scroll-y table tr td:last-child){
        display: none;
    }

    .table-wrapper-scroll-y table tr{
        grid-template-columns: 50% 50%!important;
    }

    main .row div, .row.view_profil div{
        max-width: 100%;
    }

    .edit_profil .col-lg-6 .password {
        grid-template-columns: 40% 48% 9%;
        grid-gap: 1em;
    }

    .login .password {
        grid-template-columns: 40% 49% 7.5%;
        grid-gap: 1em;
    }
}