@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 30px 0;
    margin-bottom: 0;
    background-color: #d1ecf1;
}

h1,
.h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #042444!important;
    text-decoration: none;
}



#modification_profil label,
#modification_profil input,
#modification_profil select{
    display: block!important;
    width: auto!important;
}

#modification_profil .mb-3{
    margin: 1em 0!important;
}

.row{
    display: flex;
    justify-content: center;
}

.row .col-lg-6{
    width: 50%!important;
}
.row .col-lg-6 div p,
.view_profil .col-lg-3 div p{
    display: inline-block!important;
}

.btn-container{
    text-align: center;
    margin-top: 2em;
}

 btn-action{
    padding: 0.5em 1em;
    background-color: wheat;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.btn-action{
    padding: 0.5em 1em!important;
    background-color:#d1ecf1 !important;
    text-decoration: none;
    color: #042444!important;
    margin-top: 10px;
    border-color: #042444!important;
}
.btn-afficher, .btn-modifier{
    padding: 0.5em 1em!important;
    background-color:#d1ecf1 !important;
    text-decoration: none;
}
.btn-afficher i, .btn-modifier i{
    color: #042444!important;
    max-width: 14px;
}

.btn-afficher:hover,.btn-modifier:hover{
    padding: 0.5em 1em!important;
    background-color:#042444 !important;
    text-decoration: none;

}
.btn-afficher:hover i,.btn-modifier:hover i{
    color: #d1ecf1!important;
}
.btn-inscrit{
    padding: 0.5em 1em!important;
    background-color:#b0b084 !important;
    text-decoration: none;
}
.btn-inscrit i{
    color: #042444!important;
    max-width: 14px;
}
.btn-inscrit:hover{
    padding: 0.5em 1em!important;
    background-color: #042444!important;
    text-decoration: none;
}
.btn-inscrit:hover i{
    color: #b0b084!important;
}
.btn-annuler{
    padding: 0.5em 1em!important;
    background-color:#042444 !important;
    text-decoration: none;
}
.btn-annuler i {
    color: #ec1c1c!important;
    max-width: 14px;
}
.btn-annuler:hover{
    padding: 0.5em 1em!important;
    background-color:#ec1c1c !important;
    text-decoration: none;
}
.btn-annuler:hover i{
    color: #042444!important;
}

.btn-desister{
    padding: 0.5em 1em!important;
    background-color:#b0b084 !important;
    text-decoration: none;

}
.btn-desister i{
    color: #042444!important;
    max-width: 14px;
}
.btn-desister:hover{
    padding: 0.5em 1em!important;
    background-color:#042444 !important;
    text-decoration: none;

}
.btn-desister:hover i{
    color: #ec1c1c!important;
}
.btn-publier:hover{
    padding: 0.5em 1em!important;
    background-color:#f2e80e !important;
    text-decoration: none;
}
.btn-publier:hover i {
    color: #042444!important;

}
.btn-publier{
    padding: 0.5em 1em!important;
    background-color: #042444!important;
    text-decoration: none;
}

.btn-publier i {
    color: #f2e80e!important;
    max-width: 14px;
}
.tab-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.connectinfo{

    text-align: right;
}
h1.titlefiltre{
    text-align: left;
}
.blockfiltre{
    margin-bottom: 30px;
}

.create_sortie .button-container{
    text-align: center;
    margin-top: 2em;
}

.create_sortie .col-lg-6 div{
    margin: 1em 0!important;
}

.create_sortie select{
    display: inline-block!important;
    width: auto!important;
}
.create_sortie select{
    display: inline-block!important;
    width: auto!important;
}
select{
    display: inline-block!important;
    width: auto!important;
}


.create_sortie input{
    min-width: 30%!important;;
    text-align: center;
}

#duree-sortie{
    margin-right: 0.5em;
}

.view_profil a i,
.edit_profil .btn-action i:not(.edit_profil .col-lg-6 .password .btn-action i){
    margin-right: 0.5em;
}


.view_profil .col-lg-3{
    margin: 2.5em 0!important;
}

/** Edit profil **/
.edit_profil .row{
    margin: 2.5em 0!important;
}
.edit_profil .col-lg-6 div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.edit_profil .button-container{
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.edit_profil .button-container a{
    margin-right: 1em;
}

.edit_profil .btn-action{
    border: 2px solid #042444;
}

.edit_profil .col-lg-6 .password{
    grid-template-columns: 40% 50% 7.5%;
    grid-gap: 1em;
}

.edit_profil .col-lg-6 .password .btn-action{
    margin-top: 0!important;
    padding: 0!important;
}

input{
    padding: 0 0.5em;
}

/** login **/
.login div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.login .option div{
    grid-template-columns: 100%;
}

.login input[type="checkbox"]{
    margin-top: 0!important;
}

.login .button-container{
    display: flex!important;
    justify-content: center;
}

.login .password{
    grid-template-columns: 40% 50% 7.5%;
    grid-gap: 1em;
}

.login .password .btn-action{
    margin-top: 0!important;
    padding: 0!important;
}

.login .btn-outline-danger a{
    text-decoration: none;
    color: black;
}

.login .btn-outline-danger:hover a{
    color: white;
}

.create_sortie .col-lg-6 div{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.create_sortie .col-lg-6 div{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.create_sortie .button-container .btn-action i{
    margin-right: 0.5em;
}

.create_sortie .row{
    margin: 2em 0!important;
}

.row.date .form-group{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1em;
    margin: 0.5em 0!important;
}

.row.date .form-group:last-child{
    grid-template-columns: 10% 80%;
}

.row.date .form-group label{
    padding: 0.5em 0
}

.row.date .form-group:last-child label{
    margin-left: 0.5em;
}

.row.home{
    display: flex;
    justify-content: space-between!important;
    flex-direction: row!important;
    max-width: 80%!important;
    margin: auto;
    margin-bottom: 2em;
}

.row.home .col-lg-6{
    margin: 0!important;
}

/** header **/
header{
    background-color: #d1ecf1;
}

header .container {
    margin: 0 auto!important;
    display: flex;
}
header .container > div {
    display: flex;
    justify-content: center;
    align-self: center!important;
}

/** menu **/
.dropdown button:after{
    display: none;
}

.dropdown button i{
    color: #d1ecf1!important;
}

.dropdown button{
    background-color: #042444!important;
    width: 100%!important;
    height: auto!important;
    padding: 0.5em 1em!important;
}

.dropdown:hover .dropdown-menu{
    display: block;
    border-color: #042444;
    background-color: #d1ecf1;
    padding: 0.5em 0!important;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #042444!important;
    color: #d1ecf1;
}

.dropdown-menu .utilisateur{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #042444;
}

.dropdown-menu .sorties{
    padding-top: 0.5em;
}
.description_sortie{
    width: 250px;
    height: 100px;
    text-align: left;
}
.clickable-row{
    cursor:pointer;
}