@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 30px 0;
    margin-bottom: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

table tr th,
table tr td{
    width: 10em;
    text-align: center;
    border: 1px solid black;
}

#modification_profil label,
#modification_profil input,
#modification_profil select{
    display: block!important;
    width: auto!important;
}

#modification_profil .mb-3{
    margin: 1em 0!important;
}

.row{
    display: flex;
    justify-content: center;
}

.row .col-lg-6{
    width: 50%!important;
}
.row .col-lg-6 div p{
    display: inline-block!important;
}

.btn-container{
    text-align: center;
    margin-top: 2em;
}

.btn-container a{
    padding: 0.5em 1em;
    background-color: wheat;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

